.action-button{
    -fx-pref-height: 29px;
    -fx-pref-width: 45px;
    -fx-min-width: 45px;
    -fx-min-height: 29px;
    -fx-border-radius: 0;
}

#btnClose{
    -fx-graphic: url("close.png");
}
#btnMin{
    -fx-graphic: url("minimize.png");
}
#btnMax{
    -fx-graphic: url("maximize.png");
}

#dynamicPane{
    -fx-background-color: green;
}
